<html>
    <body onload="UserAction()">
        <h2 id="buildingName"></h2>
        <!--<p id="a"></p> -->

        <p id="ok"></p>
        <table id = "demo"></table>

    </body>
    <script>
        

        function UserAction() {
            var apiUrl = 'http://localhost:3000/buildings/1';
            var obj = JSON.parse('<%-title%>');
        
            document.getElementById("ok").innerHTML = obj.token
            sessionStorage.clear()
            sessionStorage.setItem("token", obj.token);


            console.log(sessionStorage.getItem("token"))

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    window.location = "http://localhost:3000/main";
                }
            };
            xhttp.open("GET", "http://localhost:3000/buildings/", true);
            xhttp.setRequestHeader("Authorization", "Bearer " + sessionStorage.getItem("token"));
            
            xhttp.send();
        }

        
    </script>
</html>