<html>
  <head>
    <style>
        
    form {
      margin-bottom: 50%;
      
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      border-collapse: collapse;
    }
    </style>
  </head>


    <h1>Home</h1>
    
    <table id = "demo"></table>


    <p id = "token"></p>

    <form action="http://localhost:3000/users/authenticate" method="POST">
        <fieldset>
          <h3>Login</h3>
          <label>Username</label>
          <input type ="text" id = 'username' name="username" required>
          <br><br>
          <label>Password</label>
          <input type="text" id = "password" name="password" required>
          <br><br>
          
          <button type ="submit">Submit</button>
        </fieldset>
      </form>
</html>